# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
.env/
.venv/

# Notebooks checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Tests & coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
